
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fredoka:wght@700&family=Inter:wght@400;500&family=Noto+Serif&family=PT+Serif&family=Roboto+Mono:wght@600&family=The+Nautigal&display=swap');


body {    /* */
    background-color: #f9f9f9 !important;
    margin: 0;
    padding: 0%;
    
}


.container {
	width: 80%;
	margin: 0 auto;

}


#HomeBtn {
  transition: all 0.3s ease 0s;
}

#HomeBtn:hover {
  border-radius: 1vh;
  
  filter: invert(1);
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    background-color: #A600FF;
    position: sticky;
    width: 100%;

}
header::after {
    content: '';
    display: table;
    clear: both;
  }
.navbtn {
    
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-size: 2.3vh;
    border-width: 1vh;
    border-right: 1vh;
    border-radius: 2vh;
    border-style: unset;
    

    color: black;
    transition: all 0.3s ease 0s;
  
}



.navbtn:hover  {
    border-color: black;
    background-color: #6c00a7;
    color: white;
    
}




.nav__links {
    list-style: none;

}

nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
   
  }
  
  
  
  nav a::before {
    content: '';
    display: block;
    height: 0.5vh;
    background-color: rgb(0, 0, 0);
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  

.HomeIcon {
    
    width: 5vh;
}


#Bereich {
    width: 100%;
    color: whitesmoke;
    background-color: black;
    height: 25vh;
    position: fixed;
    top: 85vh;
}

.main {
  width: 90%;
  background-color: #f9f9f9;
  height: 62vh;
  margin-left: 5%;
  margin-top: 2.5%;
  position: absolute;
  

  
}


#circle1 {
  background-image: url(Images/Paragraph.png) !important;
 
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 45%;
  height: 31vh;  
  width: 50;
  display: flex;
  padding: -15em;
}


.seemore {
  width: 12vh;
  height: 3vh;
  background-color: #a600ff;
  color: #f9f9f9;
  border-radius: 1vh;
  border: 2;
  font-family: 'Dela Gothic One', cursive;
  font-size: larger;
    text-decoration: none;
    justify-content: center;
    align-items: end;
    
  
}

.seemore:hover {
  background-color: #867b7b;
  color: #ff00d4;
  transition: all 0.3s ease 0s;
}


#alkoholrechner {
  color: #f9f9f9;
  
}



.circle {
  width: 31vh;
  height: 31vh;
  background-color: #823ca6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-color: #823ca6;
  
  animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;

  

 
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f0f, 0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


#text {
  font-family: 'Dela Gothic One', cursive;
  color: #ffffff;
  
  
  
  
  font-size: 3.5em;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%{
    transform:   rotate(360deg);
  }
  100% {
    transform:   rotate(0deg);
  }
}


#text:hover {
  color: rgb(231, 226, 226);
}


